body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e1e1e1;
}

header {
    background-color: #191919;
    margin: 0;
    color: white;
    padding: 0;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: fixed;
    width: 100%;
}

header img {
    width: 12%;
    padding-left: 20px;
}

header img:hover {
    transform: scale(0.95);
}

header p {
    margin: 0;
    text-align: center;
    margin-right: 10px;
}

.header-button {
    background-color: rgb(255, 255, 255);
    width: 140px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.header-button:hover {
    background-color: rgb(255, 80, 80);
}


.headertext {
    grid-area: 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headertext a {
    text-decoration: none;
    color: black;
}

.headerimg {
    grid-area: 2 / 1;
}

.bigsection {
    height: 40vh;
    background: linear-gradient(133deg, #e32222, #e8820c, #ffaaa5, #fffdaa);
    background-size: 800% 800%;
    -webkit-animation: gradientanimation 13s ease infinite;
    -moz-animation: gradientanimation 13s ease infinite;
    animation: gradientanimation 13s ease infinite;
    display: flex;
    align-items: center;
}

.bigsection h1 {
    margin-top: 0;
    padding-left: 50px;
    font-size: 38px;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px;
}

.context {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.context h1 {
    margin-top: 0px;
}

.process {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.process h2 {
    font-size: 24px;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px !important;
    margin-top: 20px;
}

.process h3 {
    font-size: 20px;
    color: #444;
    margin-top: 0;
}

.process .step ul {
    list-style-type: disc;
    padding-left: 20px;
}

.process .step ul li {
    font-size: 16px;
    line-height: 1.5;
    color: #282828;
    margin-bottom: 10px;
}

.figure1 {
    margin-top: 30px;
}

.figure1 img {
    max-width: 50%;
    height: auto;
}

.figure1 .image-container {
    display: flex;
    justify-content: space-between;
}

.resulttext {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.results .resulttext h2 {
    font-size: 24px;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px !important;
    margin-top: 20px;
}

.resulttext p {
    margin: 0;
}

.resulttext h4 {
    margin-bottom: 10px;
}

.table {
    margin: 0 auto;
}
.classification-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.classification-table caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.classification-table th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
}

.classification-table td {
    text-align: center;
    padding: 10px 15px;
}

.classification-table .accuracy-row {
    background-color: #f2f2f2;
    font-weight: bold;
}

.classification-table .avg-row {
    background-color: #ddd;
    font-weight: bold;
}

.summary {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.summary h2 {
    font-size: 24px;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px !important;
    margin-top: 20px;
}

footer {
    background-color: black;
    color: white;
    margin: 0 auto;
}
footer p:nth-last-child(1) {
    margin: 0;
    padding-bottom: 10px;
}

footer p:nth-child(1) {
    padding-top: 10px;
}
footer p {
    text-align: center;
}

@-webkit-keyframes gradientanimation {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@-moz-keyframes gradientanimation {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@keyframes gradientanimation {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}

@media screen and (max-width: 1441px) {
    header img {
        width: 15%;
    }
}

@media screen and (max-width: 1025px) {
    header img {
        width: 25% !important;
    }
    header p {
        font-size: 12px;
    }
    .header-button {
        width: 110px !important;
    }
}

@media screen and (max-width: 769px) {
    header img {
        width: 40% !important;
    }
    header p {
        font-size: 12px;
    }
    .header-button {
        width: 100px !important;
    }
}

@media screen and (max-width: 426px) {
    header img {
        display: none;
    }
    header p {
        font-size: 10px;
        margin-right: 5px;
    }
    .header-button {
        width: 70px !important;
    }
    .classification-table {
        overflow-x: auto;
        display: block;
    }
    .classification-table table {
        width: 100%;
    }
    .classification-table table th,
    .classification-table table td {
        white-space: nowrap;
    }
}

@media screen and (max-width: 321px) {
    header img {
        display: none;
    }
    header p {
        font-size: 10px;
        margin-right: 5px;
    }
    .header-button {
        width: 70px !important;
    }
    .classification-table {
        overflow-x: auto; 
        display: block;
    }
    .classification-table table {
        width: 100%;
    }
    .classification-table table th,
    .classification-table table td {
        white-space: nowrap;
    }
}
